html {overflow-y: scroll;}
body {margin: 0;}
#menu{  	
	position:fixed;
	background:#DCDCDC;
	width:480px;
	left: 1200px;
	padding: 20px;
	z-index:2;
	box-shadow: inset 0px 0px 75px -7px rgba(56,36,56,0.47);

}
#main{	
	box-shadow: 0px 0px 75px -7px rgba(56,36,56,0.47);
	background:#EEE6F4;
	width:760px;
	position: absolute;
	left: 433px;
	padding: 4px;
	z-index:1;
	
}
#bookmark{
color:#8004E7;
text-decoration: none;
}
p{
margin-bottom: 1em;
}
#last{
margin-bottom: 2em;
}
table{
border:2px ridge #8E52AD;
border-collapse: collapse;

}
th{
background:#D2B8E0;
}
td, th{
border:2px ridge #8E52AD;
padding: 2px;
}
#table{
 box-shadow: 0px 0px 75px -7px rgba(56,36,56,0.47);
 width:1000px;
 position:absolute;
 left:200px;

}
caption{
background:#D2B8E0;
}
figure{
float:right;
margin: 10px 0 5px 5px;
}
figcaption{
font-weight: bold;
text-align: center;
}


